# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.vscode
/.idea
.env

# PHP specific
/server/vendor
/server/composer.lock

# Testing
/phpunit-result.xml
/phpunit.cache
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# NPM logs and directories
/node_modules
/.pnp
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
build-storybook.log*

# codegen
codegen/api/swagger-norm.json

# Sentry Config File
.sentryclirc

# Git infos
**/*/generatedCommitInfo.json
**/*/stats.html
.env.production
